<mat-card class="listing-card">
  <img
    class="listing-card__product-image"
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />

  <mat-card-header class="listing-card__info">
    <mat-card-title class="listing-card__title">Some Product</mat-card-title>
    <mat-card-subtitle class="shop-name-with-rating">
      <p>4.9<mat-icon class="tiny-icon">star</mat-icon>(611)</p>
      <p>·</p>
      <p><mat-icon class="tiny-icon">verified</mat-icon> Seller Name</p>
    </mat-card-subtitle>
  </mat-card-header>
 
  <mat-card-content class="listing-card__product-text">
    <div class="listing-card__price">
      <p class="sale-price green-text">$29.50</p>
      <p class="sale-price strikethrough dull-text">$59.99</p>
      <p class="sale-price dull-text">(50% off)</p>
    </div> 
      <div class="green-text">Sale ends in 2 hours</div>
    <div class="dull-text">Free Shipping</div>
  </mat-card-content>

  <mat-card-actions class="listing-card__actions">
    <button mat-stroked-button color="accent">
      <mat-icon>add_shopping_cart</mat-icon>
      Add to Cart
    </button>
    <button mat-button color="accent" class="text-then-icon-button">
      More
      <mat-icon>trending_flat</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
