@import '../../../styles.scss';

.listing-card {
  max-width: 300px;
  display: flex;
  flex-grow: 1;
  &__actions {
    justify-content: space-between;
  }
  &__info {
    flex-direction: column;
  }
  &__product-text {
    display: flex;
    flex-grow: inherit;
    flex-direction: column;
    .pricing-info {
      display: inherit;
      align-items: inherit;
    }
  }
  &__price {
    display: flex;
    flex-direction: row;
    p {
      padding-right: 10px;
    }
  }
}

.text-then-icon-button {
  flex-flow: row-reverse;
  mat-icon {
    padding-left: 5px;
  }
}

.shop-name-with-rating {
  display: flex;
  flex-grow: inherit;
  align-items: center;
  p {
    display: inherit;
    align-items: inherit;
  }
}

.tiny-icon {
  font-size: 14px;
  line-height: 22px;
  display: flex;
  justify-content: center;
}

mat-card-content {
  padding-bottom: 5px;
}
