<!-- <h1>Reverse My Integer</h1>

<div class="wrapper">
  <p>
    Given a signed 32-bit integer <code>x</code>, returns <code>x</code
    ><em> with its digits reversed</em>. If reversing <code>x</code> causes the
    value to go outside the signed 32-bit integer range
    <code>[-2<sup>31</sup>, 2<sup>31</sup> - 1]</code>, then returns
    <code>0</code>.
  </p>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field class="field-with-hints">
    <mat-label>Enter an Integer</mat-label>
    <input
      formControlName="inputControl"
      [(ngModel)]="originalInt"
      matInput
      placeholder="1234"
      type="number"
      id="integerInput"
      required
      [pattern]="pattern"
    />
    <mat-error
      class="mat-error"
      *ngIf="inputControl.invalid && (inputControl.dirty || inputControl.touched) && inputControl.errors?.['required']"
      >Input is required</mat-error
    >
    <mat-error class="mat-error" *ngIf="inputControl.errors?.['pattern']"
      >Invalid pattern. Integers only.</mat-error
    >
    <mat-hint align="end" class="mat-error" *ngIf="(originalInt ?? 0) > maxInt"
      >The reversed integer will exceed the max value</mat-hint
    >
    <mat-hint align="end" class="mat-error" *ngIf="(originalInt ?? 0) < minInt"
      >The reversed integer will be below the min value</mat-hint
    >
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" id="submitButton">
    Submit
  </button>
  <button
    mat-raised-button
    color="primary"
    type="button"
    id="resetButton"
    (click)="reset()"
  >
    Reset
  </button>
</form>
<div>
  <mat-card *ngIf="showNumber" class="container mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Result</mat-card-title>
      <mat-card-subtitle> Your integer in reverse order. </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h1>{{ reversedInt }}</h1>
    </mat-card-content>
  </mat-card>
</div> -->
