<div class="star-button">
  <button
    class="star-button"
    mat-icon-button
    color="primary"
    (click)="refresh()"
  >
    <mat-icon class="icon-display">star</mat-icon>
  </button>
</div>
<mat-spinner *ngIf="loading$ | async"></mat-spinner>
<ng-container *ngIf="(loading$ | async) === false">
  <div class="card-list">
    <ng-container *ngFor="let item of magicItems">
      <mat-card class="item-card">
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-header>
          {{ item.equipment_category.name }}
        </mat-card-header>
        <mat-card-content>
          {{ item.desc }}
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
  <p>{{ errorMessage }}</p>
</ng-container>
