<!-- <h1>Fibonacci Number Generator</h1>
<div class="wrapper">
  <h2>
    Generate
    <mat-button-toggle-group [formControl]="modeControl">
      <mat-button-toggle value="mode.sequence">a sequence</mat-button-toggle>
      <mat-button-toggle value="mode.number">one number</mat-button-toggle>
    </mat-button-toggle-group>
  </h2>

  <div class="child">
    <div>
      <app-fibonacci-number-generator
        *ngIf="modeControl.value === 'mode.number'"
      ></app-fibonacci-number-generator>
      <app-fibonacci-sequence-generator
        *ngIf="modeControl.value === 'mode.sequence'"
      ></app-fibonacci-sequence-generator>
    </div>
  </div>
</div> -->
