@use '@angular/material' as mat;

$header-height: 65px;
$footer-height: 60px;

$product-card-width: 300px;
$product-card-height: 536px;

$product-card-image-width: 300px;
$product-card-image-height: 300px;

$sidebar-width: 200px