@import "../../../styles.scss";

.spacer {
  flex: 1 1 auto;
}

img {
  height: 40px;
}

.toolbar {
  z-index: 1000;
  position: absolute;
  min-width: min-content;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.toolbar .title {
  margin: 0 30px;
  font-weight: 500;
}

.toolbar .a {
  margin: 0 50px;
}

.topNavButton {
  min-width: fit-content;
}
