<mat-toolbar class="toolbar" role="banner">
  <mat-toolbar-row>
    <img
      src="../assets/redemption-64x64.png"
      routerLink="/home"
      alt="Redemption Logo"
    />
    <span class="title">{{ title }}</span>
    <div class="spacer"></div>
    <button class="topNavButton" mat-button routerLink="/coding-exercises/fibonacci" aria-label="Button">
      Fibonacci
    </button>
    <button class="topNavButton" mat-button routerLink="/coding-exercises/reversed-int" aria-label="Button">
      Reversed Integer
    </button>
    <button class="topNavButton" mat-button routerLink="/fantasy-shop" aria-label="Button">
      Fantasy Shop
    </button>
    <button
      mat-icon-button
      class="example-icon"
      routerLink="/home"
      aria-label="Home button"
    >
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
