@use '@angular/material' as mat;
@use 'sass:map';
@import "../../../styles.scss";

$color-config: mat.get-color-config($dark-theme);
// get the chosen palette : primary, accent, warn
$accent-palette: map.get($color-config, 'accent');

.spacer {
  flex: 1 1 auto;
}

img {
  height: 40px;
}

.toolbar {
  z-index: 1000;
  position: absolute;
  min-width: min-content;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  color: mat.get-color-from-palette($accent-palette, 100);
  background-color: darkslategrey;
}

.toolbar .title {
  margin: 0 30px;
  font-weight: 500;
}

.toolbar .a {
  margin: 0 50px;
}

.topNavButton {
  min-width: fit-content;
}
