@use '@angular/material' as mat;
@include mat.core();

/*#region Typography Levels */
$display-font-family: "'Josefin Slab', 'Raleway', serif";
$heading-font-family: "'Josefin Sans', 'Raleway', sans-serif";
$regular-font-family: "'Josefin Sans', 'Raleway', sans-serif";

$website-typography: mat.define-typography-config(

  // .mat-headline-1
  $headline-1: mat.define-typography-level($font-family: $display-font-family, $font-size: 60px, $font-weight: 700, $line-height: 60px, $letter-spacing: -2px),
  // .mat-headline-2
  $headline-2: mat.define-typography-level($font-family: $display-font-family, $font-size: 50px, $font-weight: 700, $line-height: 50px, $letter-spacing: -1.6px),
  // .mat-headline-3
  $headline-3: mat.define-typography-level($font-family: $display-font-family, $font-size: 40px, $font-weight: 700, $line-height: 40px, $letter-spacing: -1px),
  // .mat-headline-4
  $headline-4: mat.define-typography-level($font-family: $display-font-family, $font-size: 34px, $font-weight: 700, $line-height: 34px, $letter-spacing: -1px),
  
  // .mat-headline-5, .mat-h1, <h1>
  $headline-5: mat.define-typography-level($font-family: $heading-font-family, $font-size: 34px, $font-weight: 600, $line-height: 34px, $letter-spacing: -1px),
  // .mat-headline-6, .mat-h2, <h2>
  $headline-6: mat.define-typography-level($font-family: $heading-font-family, $font-size: 30px, $font-weight: 600, $line-height: 32px, $letter-spacing: -0.8px),
  
  // .mat-subtitle-1, .mat-h3, <h3>
  $subtitle-1: mat.define-typography-level($font-family: $heading-font-family, $font-size: 24px, $font-weight: 600, $line-height: 26px, $letter-spacing: -0.5px),
  // .mat-subtitle-2, .mat-body-strong, <h4>
  $subtitle-2: mat.define-typography-level($font-family: $regular-font-family, $font-size: 20px, $font-weight: 600, $line-height: 23px, $letter-spacing: -0.2px),

  // .mat-h4, .mat-body-1, <h4>
  $body-1: mat.define-typography-level($font-family: $regular-font-family, $font-size: 20px, $font-weight: 400, $line-height: 30px, $letter-spacing: -0.25px), 
  // .mat-body, .mat-body-2
  $body-2: mat.define-typography-level($font-family: $regular-font-family, $font-size: 16px,  $font-weight: 300, $line-height: 24px, $letter-spacing: -0.1px), 
    
  // .mat-small, .mat-caption
  $caption: mat.define-typography-level($font-family: $regular-font-family, $font-size: 14px, $font-weight: 300, $line-height: 16px, $letter-spacing: -0.1px), 

  // Buttons and anchors, no selectors
  $button: mat.define-typography-level($font-family: $regular-font-family, $font-size: 16px,  $font-weight: 500, $line-height: 24px, $letter-spacing: -0.1px), 
);
/*#endregion */

/*#region Theming */
// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$pink-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
    // Only include `typography` and `density` in the default dark theme.
    typography: $website-typography,
    density: 0,
  )
);


// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$pink-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

// Apply the dark theme by default
@include mat.all-component-themes($dark-theme);

.light-mode { 
  @include mat.all-component-bases($light-theme);
  @include mat.all-component-colors($light-theme);
}
/*#endregion */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Josefin Sans', 'Raleway', sans-serif;
}

.strikethrough {
  text-decoration: line-through;
}

.all-caps {
  text-transform: uppercase;
}

/*#region Fonts*/
.raleway-100 {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.raleway-200 {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.raleway-300 {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.raleway-400 {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.raleway-500 {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.raleway-600 {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.raleway-700 {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.raleway-800 {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.raleway-900 {
  font-family: 'Raleway', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
/*#endregion */
