@use '@angular/material' as mat;
@use 'typography';
@use 'palettes';
@use 'themes';

@include mat.core();

// Apply the dark theme by default
@include mat.all-component-themes(themes.$dark-theme);

.light-mode {
  @include mat.all-component-bases(themes.$light-theme);
  @include mat.all-component-colors(themes.$light-theme);
}
/*#endregion */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: typography.$regular-font-family;
}

.strikethrough {
  text-decoration: line-through;
}

.all-caps {
  text-transform: uppercase;
}

.spacer {
  flex: 1 1 auto;
}

/*#region Sizing Shorthand */

.flexcol {
  display: flex;
  flex-direction: column;
}

.flexcolgrow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexrowgrow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.inherit-h {
  height: inherit;
}

.padx-0 {
  padding-left: 0;
  padding-right: 0;
}
.pady-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.padl-8 {
  padding-left: 8px;
}

.padr-8 {
  padding-right: 8px;
}

.padt-8 {
  padding-top: 8px;
}

.padb-8 {
  padding-bottom: 8px;
}

.padb-6 {
  padding-bottom: 6px;
}

.sidebar-list-item-icon {
  padding-bottom: 6px;
}

.dark-mode {
  .sidebar-list-item:hover {
    .sidebar-list-item-icon {
      color: themes.$hover-color-darkmode;
    }
    .sidebar-list-item-label {
      color: themes.$hover-color-darkmode;
    }
  }
  .sidebar-list-item:focus {
    .sidebar-list-item-icon {
      color: themes.$focus-color-darkmode;
    }
    .sidebar-list-item-label {
      color: themes.$focus-color-darkmode;
    }
  }
  #github-link:link {
    color: white;
  }
  #github-link:visited {
    color: white;
  }
}

.sidebar-list-item {
  border-radius: 0;
}

.light-mode {
  .sidebar-list-item:hover {
    .sidebar-list-item-icon {
      color: themes.$hover-color-lightmode;
    }
    .sidebar-list-item-label {
      color: themes.$hover-color-lightmode;
    }
  }
  .sidebar-list-item:focus {
    .sidebar-list-item-icon {
      color: themes.$focus-color-lightmode;
    }
    .sidebar-list-item-label {
      color: themes.$focus-color-lightmode;
    }
  }
  #github-link:link {
    color: black;
  }
  #github-link:visited {
    color: black;
  }
}

/*#endregion */
