<p>
  Calculates the Fibonacci numbers from two indices (can be negative).If the
  maximum value entered is less than the minimum value, submitting will flip the
  values.
</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field id="minFormField">
    <mat-label>Min</mat-label>
    <input
      matInput
      placeholder="0"
      type="number"
      formControlName="min"
      id="minInput"
    />
  </mat-form-field>

  <mat-form-field id="maxFormField">
    <mat-label>Max</mat-label>
    <input
      matInput
      placeholder="3"
      type="number"
      formControlName="max"
      id="maxInput"
    />
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" id="submitButton">Submit</button>
  <button mat-raised-button color="primary" type="button" id="resetButton" (click)="reset()"> Reset</button>
</form>

<mat-card *ngIf="showTable">
  <mat-card-header>
    <mat-card-title>Sequence Table</mat-card-title>
    <mat-card-subtitle
      >Fibonacci numbers generated for every integer between {{ dataSource.data[0].index }} and
      {{ dataSource.data[dataSource.data.length-1].index}} inclusive.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" id="fibonacciTable">
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>Index</th>
        <td mat-cell *matCellDef="let num">{{ num.index }}</td>
      </ng-container>
      <ng-container matColumnDef="fibonacciNumber">
        <th mat-header-cell *matHeaderCellDef>Fibonacci Number</th>
        <td mat-cell *matCellDef="let num">{{ num.val }}</td>
      </ng-container>
    </table>
  </mat-card-content>
</mat-card>
