@import '../main-layout.component.scss';

.toolbar-footer { 
    display: flex;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}

.toolbar-footer div {
    font-size: small;
}

.toolbar-footer a {
    color: white;
}