<p>Calculates the Fibonacci number at the given index (can be negative).</p>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field id="indexFormField">
    <mat-label>Index</mat-label>
    <input
      matInput
      placeholder="0"
      type="number"
      formControlName="index"
      id="indexInput"
    />
  </mat-form-field>

  <button mat-raised-button color="accent" type="submit" id="submitButton">
    Submit
  </button>
  <button
    mat-raised-button
    color="primary"
    type="button"
    id="resetButton"
    (click)="reset()"
  >
    Reset
  </button>
</form>

<mat-card *ngIf="showNumber" class="container mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Result</mat-card-title>
    <mat-card-subtitle>
      Fibonacci number at index {{ calculatedIndex }}.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <h1>{{ fibonacciNumber }}</h1>
  </mat-card-content>
</mat-card>
