<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar>Where to?</mat-toolbar>
    <mat-nav-list>
      <a
        routerLink="/{{ item.path }}"
        routerLinkActive="active"
        *ngFor="let item of menuItems"
        mat-list-item
      >
        {{ item.title }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header class="sticky" [drawer]="drawer"></app-header>
    <div class="content-padding">
      <ng-content></ng-content>
    </div>
    <!-- <app-footer></app-footer> -->
  </mat-sidenav-content>
</mat-sidenav-container>
