@use '../../assets/styles/sizing';
@use '../../assets/styles/themes';

#sidenav {
  width: 200px;
}

#body {
  padding: 20px;
  padding-bottom: sizing.$footer-height;
}

app-footer {
  position: absolute;
  bottom: 0;
  height: sizing.$footer-height;
  width: 100%;
  overflow: hidden;
}

app-header {
  width: 100%;
  overflow: hidden;
}

mat-sidenav-content.flexwrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

/*#region Sidebar */

.sidebar-list-item-icon {
  padding-bottom: 6px;
}

.sidebar-list-item {
  border-radius: 0;
}

.dark-mode {
  .sidebar-list-item:hover {
    .sidebar-list-item-icon {
      color: themes.$hover-color-darkmode;
    }
    .sidebar-list-item-label {
      color: themes.$hover-color-darkmode;
    }
  }
  .sidebar-list-item:focus {
    .sidebar-list-item-icon {
      color: themes.$focus-color-darkmode;
    }
    .sidebar-list-item-label {
      color: themes.$focus-color-darkmode;
    }
  }
}

.light-mode {
  .sidebar-list-item:hover {
    .sidebar-list-item-icon {
      color: themes.$hover-color-lightmode;
    }
    .sidebar-list-item-label {
      color: themes.$hover-color-lightmode;
    }
  }
  .sidebar-list-item:focus {
    .sidebar-list-item-icon {
      color: themes.$focus-color-lightmode;
    }
    .sidebar-list-item-label {
      color: themes.$focus-color-lightmode;
    }
  }
}

/*#endregion */


.vertical-spacer {
  flex: auto;
  flex-direction: column;
}
