@use "sass:map";
@use "@angular/material" as mat;
@import '../styles.scss';

.sidenav-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: min-content;
  width: 100vw;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  position: absolute;
}
