<div class="dashboard-container">
  <h1 class="all-caps">Hi! I'm Kaisa.</h1>

  <p class="intro-subtitle">
    Software Developer | Artist | she/her/hers
  </p>

  <p>
    This website is for me to practice building Angular websites.
    <br />
    It is hosted by GitHub pages and I am also experimenting with using nx for a
    monorepo design and plan to delve deeper into GitHub actions and CI/CD
    pipelines using nx.
  </p>

  <p>
    <span class="shadowed-text"
      ><span
        >Expect bugs&nbsp;<span>forever.</span></span
      ></span
    >
  </p>
</div>
