<div style="display: flex">
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div style="text-align: center">
    <div>
      <h1 style="font-weight: 700; text-transform: uppercase">
        Hi! I'm Kaisa.
      </h1>
    </div>
    <div>
      <p style="line-height: 1.67em; font-size: 20px">
        <span style="letter-spacing: normal"
          ><span>Software Developer | Artist | she/her/hers</span></span
        >
      </p>
    </div>
    <p style="line-height: 1.88em; font-size: 15px">
      This website is a portfolio of my art. Some pieces may be NSFW. Proceed
      appropriately.
    </p>
    <p>This website also showcases my cat, Apex.</p>

    <p style="line-height: 1.88em; font-size: 15px">
      <span style="text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px"
        ><span
          >Commissions are currently&nbsp;<span style="font-weight: bold"
            >closed.</span
          ></span
        ></span
      >
    </p>
  </div>
</div>
