<mat-toolbar class="toolbar" role="banner">
  <img src="../assets/redemption-64x64.png" alt="Redemption Logo"/>
  <span class="title" routerLink="/home">{{title}}</span>
    <div class="spacer"></div>
    <button mat-button routerLink="/fibonacci" aria-label="Button">
      Fibonacci
    </button>
    <button mat-button routerLink="/reversed-int" aria-label="Button">
      Reversed Integer
    </button>
    <button mat-icon-button class="example-icon" routerLink="/home" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
</mat-toolbar>
