div.banner-header {
  text-transform: uppercase;
  h3 {
    padding-top: 5px;
  }
}

#header {
  overflow: scroll;
  scrollbar-width: none;
}

app-header.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}
