.landing-page-container {
  flex: 1 1 auto;
}

.intro-header {
  text-transform: uppercase;
}

.intro-subtitle {
  font-size: large;
}

.shadowed-text {
  text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
}
