<div class="landing-page-container">
  <h1 class="all-caps">Hi! I'm Kaisa.</h1>

  <h2 class="intro-subtitle">Software Developer | Artist | she/her/hers</h2>

  <p>
    This website is for me to practice building Angular websites.
    <br />
    It is hosted by GitHub pages and uses nx and a monorepo design. It uses
    GitHub actions for a CI/CD pipeline so that it releases to GitHub pages when
    I commit to the main branch while also performing linting and other cleanup
    tasks. monorepo design and plan to delve deeper into GitHub actions and
    CI/CD pipelines using nx.
  </p>

  <p>Current Date Time: {{ currentDate | date : 'MM/dd/yyyy HH:mm:ss' }}.</p>

  <p>
    <span class="shadowed-text"
      ><span>Expect bugs&nbsp;<span>forever....</span></span></span
    >
  </p>
</div>
