.footer {
  width: 100%;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: small;
  max-height: 30px
}

.footer a {
  color: white
}

mat-toolbar {
  display: flex;
  align-items: center;
}

.flex-stretch {
  flex: 1 0 auto;
}

.content {
  height: inherit;
}

mat-icon {
  transform: scale(.75);
}
mat-slide-toggle {
  transform: scale(0.75);
}
