.footer {
  margin-top: 8px;
  line-height: 20px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: xx-small;
}

.footer a {
  color: white
}
