@import "../../styles.scss";

.sidenav-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: min-content;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  position: relative;
}
